@font-face {
    font-family: Quark;
    src: "Quark-Light.otf";
    font-weight: normal;
}

@font-face{
    font-family: Quark;
    src: "Quark-Bold.otf";
    font-weight: bold;
}

* {
    font-family: Quark
}