@font-face {
    font-family: 'Quark-Font';
    src: url('~@/assets/font/Quark-Light.otf');
    font-weight: normal;
}

@font-face{
    font-family: 'Quark-Font';
    src: url("~@/assets/font/Quark-Bold.otf");
    font-weight: bold;
}

* {
    font-family: 'Quark-Font'
}