@font-face {
    font-family: Quark;
    src: url(Quark-Light.otf);
    font-weight: normal;
}

@font-face{
    font-family: Quark;
    src: url(Quark-Bold.otf);
    font-weight: bold;
}

* {
    font-family: Quark
}