// custom color style
// Orange Color
$orange: #d12c00;
$orange-light: #ef5a37;
$orange-dark: #85270f;

// Green Color
$green: #00d13b;
$green-light: #81ef37;
$green-dark: #049927;

// Blue Color
$blue: #07abd1;
$blue-light: #3ef7e1;
$blue-dark: #007184;